## Practice Notebook

Exercise 1:  Write a *while* loop to print numbers from 0 to 10

In [3]:
#YOUR CODE HERE
n = 0
while n <= 10:
    print(n)
    n = n + 1

print("code ended")

0
1
2
3
4
5
6
7
8
9
10
code ended

Exercise 2:  Print the first number greater than 100 that is divisible by 17

In [5]:
#YOUR CODE HERE
n = 100
while(n>=100):
    if n%17 == 0:
        print(n)
        break
    n = n + 1

102

Exercise 3: Using *for* loop print out the characters of 'Portland'

In [ ]:
#YOUR CODE HERE
str = "Portland"
for ch in str:
    print(ch)

P
o
r
t
l
a
n
d

Exercise 4: Do the following:

1. Use a lower bound of 1 and an upper bound of 10 with range to print 1-9
2. Use range with one bound only, the number 10, to print the first ten numbers
3. Use a step increment to count the even numbers through 10

In [12]:
#YOUR CODE HERE
for i in range (1,10):
    print(i, end=" ") # end = " " is use so that we print everything in the single line with spaces

1 2 3 4 5 6 7 8 9

In [11]:
#YOUR CODE HERE
for i in range(10):
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9

In [16]:
#YOUR CODE HERE
count = 0
for i in range(0,10,2):
    count = count + 1
    print(i,end=" ")
print("\nNo. of even no:",count)

0 2 4 6 8
No. of even no: 5

Exercise 5:  print each letter of "Python" three times

In [19]:
#YOUR CODE HERE
word = "Python"
for ch in word:
    print(ch * 3)

PPP
yyy
ttt
hhh
ooo
nnn

Exercise 6: Write a *for* loop for the following

1.  print the squares of numbers from 1 to 10.
2.  iterate over a list of names and print each name
3.  calculate the sum of numbers in a given list.

In [20]:
#YOUR CODE HERE
for i in range(1,11):
    print(i**2, end=" ")

1 4 9 16 25 36 49 64 81 100

In [22]:
#YOUR CODE HERE
names = ["Nishant", "Aarav", "Priya", "Rohan", "Meera", "Ananya", "Vikram", "Kiran", "Sita", "Arjun"]
for name in names:
    print(name)

Nishant
Aarav
Priya
Rohan
Meera
Ananya
Vikram
Kiran
Sita
Arjun

In [25]:
#YOUR CODE HERE
numbers = [42, 7, 89, 15, 63, 28, 91, 54, 36, 77]
sum = 0
for num in numbers:
    sum = sum + num
print(sum)

502

Exercise 7: Write a nested loop to generate multiplication tables for numbers from 1 to 10

In [28]:
#YOUR CODE HERE
for i in range(1,11):
    for j in range(1,11):
        print(i," * ",j," = ", i*j)
    print("\n")

1  *  1  =  1
1  *  2  =  2
1  *  3  =  3
1  *  4  =  4
1  *  5  =  5
1  *  6  =  6
1  *  7  =  7
1  *  8  =  8
1  *  9  =  9
1  *  10  =  10


2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
2  *  10  =  20


3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27
3  *  10  =  30


4  *  1  =  4
4  *  2  =  8
4  *  3  =  12
4  *  4  =  16
4  *  5  =  20
4  *  6  =  24
4  *  7  =  28
4  *  8  =  32
4  *  9  =  36
4  *  10  =  40


5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
5  *  10  =  50


6  *  1  =  6
6  *  2  =  12
6  *  3  =  18
6  *  4  =  24
6  *  5  =  30
6  *  6  =  36
6  *  7  =  42
6  *  8  =  48
6  *  9  =  54
6  *  10  =  60


7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63
7  *  10  =  70


8  *  1  =  8
8  *  2  =  16
8  *  3  =  24
8  *  4  =  32
8  *  5  =  40
8  *  6  =  48
8  *  7  =  56
8  *  8  =  64
8  *  9  =  72
8  *  10  =  80


9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81
9  *  10  =  90


10  *  1  =  10
10  *  2  =  20
10  *  3  =  30
10  *  4  =  40
10  *  5  =  50
10  *  6  =  60
10  *  7  =  70
10  *  8  =  80
10  *  9  =  90
10  *  10  =  100