## **List**

#### Exercise 01: 
Reverse the order of the given list.

In [3]:
a = [100, 200, 300, 400, 500]

Expected output : [500, 400, 300, 200, 100]

In [5]:
## YOUR CODE HERE
print(a[::-1])

[500, 400, 300, 200, 100]

#### Exercise 02: 
Concatenate two lists using `.extend()`.

In [12]:
list1 = ["Hello ", "Students "]
list2 = ("Dear", "Sir")

Expected output : ['Hello ', 'Students ', 'Dear', 'Sir']

In [ ]:
## YOUR CODE HERE
list1.extend(list2)
print(list1)
# extend basically add on the existing list

['Hello ', 'Students ', 'Dear', 'Sir']

#### Exercise 03: 
For given list, perform the following:
* Print the last element from the list.
* Print index of element 4.

In [10]:
list4 = [1, 2, 3, 4, 5, 6, 7]

Expected outputs: 7  and 3

In [17]:
## YOUR CODE HERE
print(list4[-1])
print(list4[3])

7
4

#### Exercise 04:  
Print the sublist from the given list.

Expected output : [9,8,7]

In [20]:
list5 = [1, 2, 3, [9, 8, 7]]
## YOUR CODE HERE
print(list5[3])

[9, 8, 7]

#### Exercise 05: 
For given list, find the following:

* Check the type of the list elements. 
* Check whether the element `'name'` is present in the list.
* Find the length of the list.

In [21]:
list6= [1,'name',0.7,"this is a sentence"]
# YOUR CODE HERE
if 'name' in list6:
    print("present")
else:
    print("absent")

present

#### Exercise 6: 
For the given list, find the following:

* Find the count of the apples.
* Insert the `'Watermelon'` at the last position.

In [22]:
basket=['apple','apple','orange','mango','grape','orange','apple']
# YOUR CODE HERE
count = 0
for fruit in basket:
    if( fruit == 'apple'):
        count = count + 1

print(count)

3

In [23]:
# YOUR CODE HERE
basket.append('Watermelon')
print(basket)

['apple', 'apple', 'orange', 'mango', 'grape', 'orange', 'apple', 'Watermelon']

#### Exercise 07:  
Print the squares of the numbers in the given list.

Expected output : 
<br/>36<br/>49<br/>64

In [26]:
list1 = [6, 7, 8]

In [27]:
## YOUR CODE HERE
for num in list1:
    print(num*num)

36
49
64

#### Exercise 08: 
For the given list, print only the positive elements.

Expected output:

2<br/>4<br/>6<br/>

In [28]:
list2 = [-1, 2, -3, 4, -5, 6, -7]

In [29]:
## YOUR CODE HERE
for num in list2:
    if(num > 0):
        print(num)

2
4
6

#### Exercise 09: 
For the given list, print numbers which are multiples of 5.

Expected output :

10<br/>20<br/>30<br/>40

In [31]:
list3 = [10, 12, 20, 22, 30, 32, 40]

In [33]:
## YOUR CODE 
for i in list3:
    if(i%5==0):
        print(i)

10
20
30
40

#### Exercise 10: 
For the given list, print if the element is an one digit or a two-digit number.

Expected output : 

5 is a one digit number.<br/>
15 is a two digit number.<br/>
20 is a two digit number.<br/>

In [35]:
list4 = [5, 15, 20]

In [36]:
## YOUR CODE HERE
for num in list4:
    if(num<10):
        print(num," is a one digit number.")
    else:
        print(num," is a two digit number.")

5  is a one digit number.
15  is a two digit number.
20  is a two digit number.

#### Exercise 11: 
For the given String, find the following:
* Split the string into a list of words and print them.
* Print the length of the list.

 Expected output :
 <br/>['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
 <br/>9

In [37]:
string1 = "The quick brown fox jumps over the lazy dog"

In [39]:
## YOUR CODE HERE
b = string1.split()
print(b)
print(len(b))

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
9

#### Exercise 12: 
For the given List, find the following:
* list items from 2nd to 3rd.
* list items from beginning to 3rd.
* list items from 4th to the end of the list.

Expected Output :
<br/>[2, 3]
<br/>[1, 2, 3]
<br/>[4, 5, 6, 7]

In [43]:
list5 = [1, 2, 3, 4, 5, 6, 7]
print(list5[1:3])
print(list5[:3])
print(list5[3:])

[2, 3]
[1, 2, 3]
[4, 5, 6, 7]

In [ ]:
#YOUR CODE HERE

#### Exercise 13: 
For the given list, print the numbers which are greater than or equal to 10.

Expected Output :
<br/>10<br/>11<br/>12<br/>13

In [ ]:
list6 = [0, 1, 2, 3, 10, 11, 12, 13]

In [ ]:
# YOUR CODE HERE